<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/stars.css">



<div class="top row mt-3">
  <div class="col-md-6 mb-3">

    <div class="card">


      <div id="carouselExampleControls" class="carousel slide">
        <div class="carousel-inner">
          <% campground.images.forEach((image, index) => {%>
          <div class="carousel-item <%= index === 0 ? 'active' : ''%>">
            <img class="d-block w-100" src="<%=image.url%>" alt="First slide">
          </div>
          <% }) %>


        </div>
        <% if (campground.images.length > 1) {%>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
        <% } %>
      </div>

      <div class="card-body">
        <h3 class="card-title"><%= campground.title%></h3>
        <p class="card-text"><%=campground.description%></p>
        <p class="text-muted">Submitted by <%= campground.author.username %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= campground.location%></li>
        <li class="list-group-item">$<%=campground.price%> night</li>
      </ul>
      <% if (currentUser) {%>
      <!-- <form action="/yelpcamp/campgrounds/<%=campground._id%>/upload?_method=PUT" method="POST" enctype="multipart/form-data"> -->
      <div class="list-group-item">
        <label><button type="submit" class="btn btn-sm btn-primary">Add Images: </button></label>
        <input type="file" name="image" required>
      </div>
      <!-- </form> -->
      <%}%>

      <% if (currentUser && campground.author.equals(currentUser.id))  {%>
      <div class="card-body">
        <button class="btn btn-warning"
          onclick=window.location.href="/yelpcamp/campgrounds/<%= campground._id %>/edit">Edit</button>
      </div>
      <%}%>
    </div>
    <div class="card-footer text-muted">
      Added 10 days ago
    </div>
  </div>


  <div class="col-md-6">

    
      <div id='map' style='width: 450px; height: 450px;'></div>
      <div class="row eleInfo">
          <div class="geo lon col-3 offset-1">Longitude: <span id='lng'></span></div>
          <div class="geo lat col-3">Latitude: <span id='lat'></span></div>
          <div class="geo ele col-3">Elevation: <span id='ele'></span></div>
        </div>
  </div>
    
</div>

<div class="row mt-2 mb-5">
  <div class="col-6">
    <% if (currentUser) {%>
      <h2>Leave a Review</h2>
      <form action="/yelpcamp/campgrounds/<%= campground._id%>/reviews" method="POST" class="validated-form mb-3"
        novalidate>
        <div class="mb-3">
          <label class="form-label" for="rating">Rating</label>
          <fieldset class="starability-basic">
            <input type="radio" id="no-rate" class="input-no-rate" novalidate name="review[rating]" value="0" checked
              aria-label="No rating." required />
            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
            <label for="first-rate1" title="Terrible">1 star</label>
            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
            <label for="first-rate2" title="Not good">2 stars</label>
            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
            <label for="first-rate3" title="Average">3 stars</label>
            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
            <label for="first-rate4" title="Very good">4 stars</label>
            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
            <label for="first-rate5" title="Amazing">5 stars</label>
          </fieldset>
          <div class="invalid-feedback">The lowest rating is 1 star</div>
        </div>

        <div class="mb-3">
          <label class="form-label" for="body">Review</label>
          <textarea class="form-control" name="review[body]" id="review" cols="30" rows="3" required></textarea>
          <div class="valid-feedback">Looks good!</div>
        </div>

        <button class="btn btn-primary">Submit</button>
      </form>
      <%}%>
      <div class="contianer mt-4">
        <%if (!currentUser) {%>
      <h2>Reviews</h2>
      <% if (campground.reviews.length === 0) {%>
      <p>No reviews for this campground yet</p>
      <%}%>
          <p>Log in to leave a review</p>
        <%}%>
      <div id="reviews-list">

        <% for(let review of campground.reviews) {%>
        <div class="card mb-3">
          <div class="card-body">
            <p class="starability-result" data-rating="<%=review.rating %>">Rated: <%=review.rating %> stars</p>

            <br>
            <p class="card-text"><%=review.body%></p>
            <p class="text-muted">Written by: <%=review.author.username %></p>
            <% if (review.author.equals(currentUser)) {%>
            <form class="validated-form"
              action="/yelpcamp/campgrounds/<%=campground._id%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
              <button class="btn btn-sm btn-danger">Delete</button>
            </form>
            <%}%>
            </div>
          </div>


          <%}%>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>



<a href='/yelpcamp/campgrounds'> <button class="btn btn-lg btn-success">Go Back</button></a>


<script>
  const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
  const campground = <%- JSON.stringify(campground) %>;
</script>

<script>

  
  mapboxgl.accessToken = 'pk.eyJ1IjoibmthcnNhbnQiLCJhIjoiY2trYWU4MmRuMDFwczJ2cG85dDVpODBsYyJ9.LewafKgB3ImEAV3CK841wg';


  mapboxgl.accessToken = 'pk.eyJ1IjoibmthcnNhbnQiLCJhIjoiY2trYWU4MmRuMDFwczJ2cG85dDVpODBsYyJ9.LewafKgB3ImEAV3CK841wg';
    var map = new mapboxgl.Map({
      container: 'map', // Specify the container ID
      style: 'mapbox://styles/mapbox/outdoors-v11', // Specify which map style to use
      center: campground.geolocation.coordinates, // Specify the starting position [lng, lat]
      zoom: 8 // Specify the starting zoom
    });


  var popup = new mapboxgl.Popup({ offset: 30, openOnClick: true, anchor: 'bottom' }).setLngLat(campground.geolocation.coordinates)
    .setHTML(`<h1>${campground.title}</h1><p>${campground.location}`)
    .addTo(map);

  var marker = new mapboxgl.Marker({ 'color': '#314ccd'})
    .setLngLat(campground.geolocation.coordinates)
    .addTo(map); // add the marker to the map


    // Create variables for the latitude and longitude
var lng;
var lat;

var lngDisplay = document.getElementById('lng');
var latDisplay = document.getElementById('lat');
var eleDisplay = document.getElementById('ele');

map.on('click', function(e) {
  // When the map is clicked, set the lng and lat variables equal to the lng and lat properties in the returned lngLat object
  lng = e.lngLat.lng;
  lat = e.lngLat.lat;
  getElevation();
});


    function getElevation() {
  // Construct the API request
  var query = 'https://api.mapbox.com/v4/mapbox.mapbox-terrain-v2/tilequery/' + lng + ',' + lat + '.json?layers=contour&limit=50&access_token=' + mapboxgl.accessToken;
  $.ajax({
    method: 'GET',
    url: query,
  }).done(function(data) {
    // Display the longitude and latitude values
    lngDisplay.textContent = lng.toFixed(2);
    latDisplay.textContent = lat.toFixed(2);
    // Get all the returned features
    var allFeatures = data.features;
    // console.log(allFeatures);
    // Create an empty array to add elevation data to
    var elevations = [];
    // For each returned feature, add elevation data to the elevations array
    for (i = 0; i < allFeatures.length; i++) {
      elevations.push(allFeatures[i].properties.ele);
    }
    console.log(elevations);
    // In the elevations array, find the largest value
    var highestElevation = Math.max(...elevations);
    console.log("elevation: " + highestElevation);
    eleDisplay.textContent = highestElevation + ' meters';
  });
}




</script>