<% layout('layouts/boilerplate') %>


<h1> <%= campground.title%></h1>
<h2 id="location"> <%= campground.location%></h2>


<div>
  <div class="row">

    <div class="column">
      <!-- <img id="photos" src="https://via.placeholder.com/400" alt="various photos of the campsite"> -->
      <img id="photos" src="https://via.placeholder.com/300" alt="various photos of the campsite">
    </div>

    <div class="column">
      <div id="map"><img src="https://compote.slate.com/images/ff47615b-f476-4479-af98-add0a5255c80.jpeg?width=840&rect=1560x1040&offset=0x0"> </div>
    </div>

  </div>
</div>

<p><%=campground.price%> dollars/night</p>
<p><%=campground.description%></p>

<button onclick=window.location.href="/yelpcamp/campgrounds/<%= campground._id %>/edit">Edit</button>
<button onclick=window.location.href="/yelpcamp/campgrounds">Go Back</button>