<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%=campground.title%></title>
</head>
<body>
  <h1> <%= campground.title%></h1>
  <h2> <%= campground.location%></h2>

  <p><%=campground.price%> dollars/night</p>
  <p><%=campground.description%></p>

    <button onclick=window.location.href="/yelpcamp/campgrounds/<%= campground._id %>/edit">Edit</button>
    <button onclick=window.location.href="/yelpcamp/campgrounds">Go Back </button>

</body>
</html>
